@font-face {
  font-family: 'TT Lakes';
  src: local('fonts/TTLakes-Regular.eot'), local('TTLakes-Regular'), url('fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/TTLakes-Regular.woff') format('woff'), url('fonts/TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: local('fonts/TTLakes-Medium.eot'), local('TTLakes-Medium'), url('fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'), url('fonts/TTLakes-Medium.woff') format('woff'), url('fonts/TTLakes-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: local('fonts/TTLakes-Bold.eot'), local('TTLakes-Bold'), url('fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/TTLakes-Bold.woff') format('woff'), url('fonts/TTLakes-Bold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

button {
  border: none;
  background-color: #fff;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
  margin: 0 auto;
  background-color: #F8F8F8;
  font-family: 'TT Lakes';
}

p {
  margin: 0;
}

@media (max-width: 321px) {
  .page-header {
    background-color: #fff;
  }
  .page-navigation {
    display: flex;
    max-width: 320px;
    justify-content: space-evenly;
    padding-bottom: 10px;
    border-bottom: 2px solid #D9FFF5;
  }
  .page-navigation button {
    margin-top: 15px;
  }
  .page-navigation__call-button, .page-navigation__chat-button, .page-navigation__profile-button {
    display: none;
  }
  .page-navigation::after {
    content: url("images/navigation/divider.svg");
    position: absolute;
    top: 28px;
    right: 130px;
  }
  .page-main {
    background-color: #F8F8F8;
  }
  .page-main__desktop-navigation {
    display: none;
  }
  .page-main__title {
    padding: 0 0 0 15px;
    font-family: TT Lakes;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
  }
  .page-main__title::before {
    content: url("images/main/highlight.svg");
    position: absolute;
    left: 0;
  }
  .main-navigation {
    display: flex;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 20px 0 0 0;
  }
  .main-navigation::after {
    content: '';
    width: 34px;
    height: 40px;
    position: absolute;
    right: 0;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
  }
  .main-navigation a {
    cursor: pointer;
    flex-shrink: 0;
    padding: 8px 15px;
    background-color: inherit;
    border: 2px solid #F8F8F8;
    font-family: 'TT Lakes';
    font-style: medium;
    font-size: 16px;
    letter-spacing: -0.2px;
    color: #7E7E82;
    text-decoration: none;
  }
  .main-navigation a:first-of-type {
    margin-left: 15px;
  }
  .main-navigation a:last-of-type {
    margin-right: 15px;
  }
  .main-navigation a:hover, .main-navigation a:active, .main-navigation a:focus {
    border: 2px solid #B8FFEC;
    background-color: #fff;
    border-radius: 6px;
    transition: 0.2s;
  }
  .page-about__text {
    margin: 0 15px 0 15px;
    font-family: TT Lakes;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
  }
  .page-about__text p {
    margin-bottom: 0px;
  }
  .page-about__text-hidden {
    display: none;
  }
  .page-about__text-hidden_mobile {
    display: none;
  }
  .page-about__readmore-button {
    background-color: inherit;
    padding: 4px 7px 4px 20px;
    border: 2px solid #F8F8F8;
    font-family: 'TT Lakes';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
  }
  .page-about__readmore-button:hover, .page-about__readmore-button:focus, .page-about__readmore-button:active {
    border: 2px solid #B8FFEC;
    background-color: #fff;
    border-radius: 6px;
    transition: 0.2s;
  }
  .page-about__readmore-button::before {
    content: url("images/main/button_icon.svg");
    position: absolute;
    left: 24px;
  }
  .page-about__image {
    height: 176px;
    margin: 16px 0 0 0;
    background-image: url("images/main/description_image_320px.png");
  }
}

@media (min-width: 322px) and (max-width: 769px) {
  .page-header {
    background-color: #fff;
  }
  .page-navigation {
    display: flex;
    max-width: 768px;
    padding-bottom: 10px;
    border-bottom: 2px solid #D9FFF5;
  }
  .page-navigation__menu-button::after {
    content: url("images/navigation/divider.svg");
    position: absolute;
    top: 26px;
    left: 84px;
  }
  .page-navigation__menu-button::before {
    content: url("images/navigation/divider.svg");
    position: absolute;
    top: 26px;
    right: 139px;
  }
  .page-navigation button {
    margin: 15px 16px 0 0;
    padding: 0;
  }
  button.page-navigation__main-page-button {
    margin-right: auto;
  }
  button.page-navigation__call-button {
    margin-left: auto;
  }
  button.page-navigation__search-button {
    margin-right: 24px;
  }
  button.page-navigation__menu-button {
    margin-left: 24px;
    margin-right: 42px;
  }
  button.page-navigation__profile-button {
    margin-right: 42px;
  }
  .page-main__desktop-navigation {
    display: none;
  }
  .page-main__title {
    padding: 0 0 0 24px;
    font-family: TT Lakes;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
  }
  .page-main__title::before {
    content: url("images/main/highlight.svg");
    position: absolute;
    left: 0;
  }
  .main-navigation {
    display: flex;
    overflow: scroll;
    margin-top: 20px;
  }
  .main-navigation::after {
    content: '';
    width: 34px;
    height: 40px;
    position: absolute;
    right: 0;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
  }
  .main-navigation a {
    cursor: pointer;
    flex-shrink: 0;
    padding: 8px 15px;
    background-color: inherit;
    border: 2px solid #F8F8F8;
    font-family: 'TT Lakes';
    font-style: medium;
    font-size: 16px;
    letter-spacing: -0.2px;
    color: #7E7E82;
    text-decoration: none;
  }
  .main-navigation a:first-of-type {
    margin-left: 24px;
  }
  .main-navigation a:last-of-type {
    margin-right: 24px;
  }
  .main-navigation a:hover, .main-navigation a:active, .main-navigation a:focus {
    border: 2px solid #B8FFEC;
    background-color: #fff;
    border-radius: 6px;
    transition: 0.2s;
  }
  .page-about__text-hidden_mobile {
    display: none;
  }
  .page-about {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 24px;
  }
  .page-about__text {
    padding-right: 48px;
    flex: 0 0 50%;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
  }
  .page-about__image {
    flex: 0 0 50%;
    border-radius: 10px;
    width: 360px;
    height: 260px;
    background: url(images/main/description_image_360px.png) no-repeat;
  }
  .page-about__readmore-button {
    background-color: inherit;
    margin-top: 10px;
    padding: 4px 7px 4px 20px;
    border: 2px solid #F8F8F8;
    font-family: 'TT Lakes';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
  }
  .page-about__readmore-button:hover, .page-about__readmore-button:focus, .page-about__readmore-button:active {
    border: 2px solid #B8FFEC;
    background-color: #fff;
    border-radius: 6px;
    transition: 0.2s;
  }
  .page-about__readmore-button::before {
    content: url("images/main/button_icon.svg");
    position: absolute;
    left: 32px;
  }
}

@media (min-width: 769px) {
  .page-header {
    display: none;
  }
  .page-main__title {
    font-size: 28px;
    letter-spacing: -0.6px;
    margin-left: 32px;
    margin-top: 42px;
  }
  .page-main__title::before {
    content: url("images/main/highlight.svg");
    position: absolute;
    left: 0;
  }
  .page-main__desktop-header {
    display: flex;
  }
  .page-main__desktop-navigation {
    display: flex;
    margin-left: auto;
    margin-top: 20px;
  }
  .page-main__desktop-navigation_item {
    font-weight: 500;
    display: flex;
    align-content: center;
    margin-right: 32px;
  }
  .page-main__desktop-navigation_text {
    padding-top: 30px;
    margin-right: 8px;
  }
  .page-main__desktop-navigation_image {
    padding-top: 21px;
  }
  .main-navigation {
    display: flex;
    flex-wrap: wrap;
  }
  .main-navigation a {
    cursor: pointer;
    flex-shrink: 0;
    padding: 8px 19px;
    background-color: inherit;
    border: 2px solid #F8F8F8;
    font-family: 'TT Lakes';
    font-style: medium;
    font-size: 16px;
    letter-spacing: -0.2px;
    color: #7E7E82;
    text-decoration: none;
  }
  .main-navigation a:first-of-type {
    margin-left: 32px;
  }
  .main-navigation a:last-of-type {
    margin-left: 32px;
  }
  .main-navigation a:hover, .main-navigation a:active, .main-navigation a:focus {
    border: 2px solid #B8FFEC;
    background-color: #fff;
    border-radius: 6px;
    transition: 0.2s;
  }
  .page-about {
    display: flex;
    margin-top: 10px;
  }
  .page-about__text {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    width: 490px;
    margin-left: 32px;
    margin-right: 36px;
  }
  .page-about__image {
    width: 530px;
    height: 307px;
    background-image: url(images/main/description_image_530px.png);
  }
  .page-about__readmore-button {
    margin-top: 8px;
    background-color: inherit;
    padding: 4px 7px 4px 20px;
    border: 2px solid #F8F8F8;
    font-family: 'TT Lakes';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
  }
  .page-about__readmore-button:hover, .page-about__readmore-button:focus, .page-about__readmore-button:active {
    border: 2px solid #B8FFEC;
    background-color: #fff;
    border-radius: 6px;
    transition: 0.2s;
  }
  .page-about__readmore-button::before {
    content: url("images/main/button_icon.svg");
    position: absolute;
    left: 41px;
  }
}