@font-face {
    font-family: 'TT Lakes';
    src: local('fonts/TTLakes-Regular.eot'), local('TTLakes-Regular'),
        url('fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTLakes-Regular.woff') format('woff'),
        url('fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: local('fonts/TTLakes-Medium.eot'), local('TTLakes-Medium'),
        url('fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTLakes-Medium.woff') format('woff'),
        url('fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: local('fonts/TTLakes-Bold.eot'), local('TTLakes-Bold'),
        url('fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTLakes-Bold.woff') format('woff'),
        url('fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

::-webkit-scrollbar { 
    width: 0px;
    background: transparent;
}


html {
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*, *:before, *:after {
  box-sizing: inherit;
}


body {
	font-family: "TT Lakes";
	margin: 0;
  max-width: 1120px;
}


@media (max-width: 320px) {


.blured {
  position: absolute;
  top: 176px;
  right: 0px;
  width: 12px;
  height: 40px;
  filter: blur(5px);
}

/* PAGE-HEADER */ 

header[hidden] {
  display: flex;
}

.page-header {
	height: 88px;
  border-bottom: 1px solid #D9FFF5;

	display: flex;
	justify-content: space-evenly;
	align-items: center;
}


/* _____PAGE-MAIN_____ */

.page-main {
	background-color: #F2F2F2;
}

.page-main__title {
  padding-top: 24px;
  display: flex;
  align-items: center;
}  

.page-main__text {
	font-family: TT Lakes;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  font-style: bold;
  letter-spacing: 0.2px;
  color: #1B1C21;

	margin: 0 0 0 8px;
}

/* PAGE-NAV */

.page-main__nav {
  display: flex;
	margin-top: 24px;
  margin-left: 16px;
  overflow-x: scroll;
}

.page-nav__link {
  font-family: TT Lakes;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7E7E82;
  height: 40px;
  max-width: 246px;
  min-width: 246px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  border: none;
  background-color: #F2F2F2;
}

.page-nav__link:hover,
.page-nav__link:active,
.page-nav__link:focus {
  border: 2px solid #D9FFF5;
  border-radius: 5px;
  background-color: #fff;
  transition: 0.2s;
} 



/* PAGE-SECTION */

.page-section {
	margin-top: 24px;
}

.page-section__content {
  font-family: TT Lakes;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;

	max-width: 288px;
	margin: 0 auto;
}

.page-section__button {
  font-family: TT Lakes;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  font-weight: 500;
  
  display: flex;
	margin: 16px 0px 0px 8px;
	border: none;
	background-color: inherit;
	padding: 0;
}

.page-section__image {
	margin-top: 16px;
}


.page-section__image {
  width: 320px;
  height: 175px;
  border-radius: 5px;
  background-image: url(Icons/page-section/image_logo_320.png);
}

.page-section__text {
  margin-left: 16px;
}

}

@media (min-width: 321px) and (max-width: 768px) {

  /* PAGE-HEADER */

header[hidden] {
  display: flex;
}

.page-header div[hidden] {
  display: block;
}

.page-header {
  height: 88px;
  border-bottom: 1px solid #D9FFF5;
  display: flex;
  align-items: center;
}

.page-header__burger {
  margin-left: 24px;
}

  .page-header__divider {
    margin-right: 20px;
    margin-left: 20px;
  }

  .page-header__logo {
    margin-right: auto;
  }

  .page-header__call,
  .page-header__chat,
  .page-header__repair {
    margin-right: 16px;
  }

  .page-header__check-status {
    margin-right: 24px;
  }

  /* PAGE-MAIN */



.page-main {
  background-color: #F2F2F2;
}

.page-main__title {
  padding-top: 24px;
  display: flex;
  align-items: center;
}  

.page-main__text {
  font-family: TT Lakes;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  font-style: bold;
  letter-spacing: 0.2px;
  color: #1B1C21;

  margin: 0 0 0 8px;
}

/* PAGE-NAV */

.page-main__nav {
  display: flex;
  margin-top: 24px;
  margin-left: 24px;
  overflow-x: scroll;
}

.page-nav__link {
  font-family: TT Lakes;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7E7E82;
  height: 40px;
  max-width: 246px;
  min-width: 246px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  border: none;
  background-color: #F2F2F2;
}

.page-nav__link:hover,
.page-nav__link:active,
.page-nav__link:focus {
  border: 2px solid #D9FFF5;
  border-radius: 5px;
  background-color: #fff;
  transition: 0.2s;
} 

/* PAGE-SECTION */

.page-section {
  margin: 32px 24px 0px 24px;
  display: flex;
  justify-content: space-between;
}
 
.page-section__content {
  font-family: TT Lakes;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;

  max-width: 312px;
  min-width: 312px;
}

p[hidden] {
  display: block;
}

.page-section__button {
  font-family: TT Lakes;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  font-weight: 500;
  
  display: flex;
  margin: 10px 0px 0px 8px;
  border: none;
  background-color: inherit;
  padding: 0;
}

.page-section__image {
  width: 360px;
  height: 208px;
  border-radius: 5px;
  background-image: url(Icons/page-section/image_logo_768.png);
}


.page-section__text {
  margin-left: 16px;
}
}



@media (min-width: 769px) {

  /* PAGE-MAIN */


  .page-main {
    background-color: #F2F2F2;
  }

  .page-main__title {
    padding-top: 42px;
    display: flex;
    align-items: center;
  } 

  .page-main__text {
    margin: 0px 0px 0px 30px;
  }

  .page-main__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 32px;
    font-weight: 500;
  }

  .page-main__item_margin-left {
    margin-left: auto;
  }

  .page-main__item img {
    margin-left: 9px;
  }


  /* PAGE-NAV */

  .page-main__nav {
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
    margin-left: 32px;
  }

  .page-nav__link {
    font-family: TT Lakes;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
    text-align: center;
    vertical-align: middle;
    height: 40px;
    padding: 8px 22px;
    border: 2px solid #F2F2F2;
    background-color: #F2F2F2;
  }

  .page-nav__link:hover,
  .page-nav__link:active,
  .page-nav__link:focus {
    border: 2px solid #D9FFF5;
    border-radius: 5px;
    background-color: #fff;
    transition: 0.2s;
  }  


  /* PAGE-SECTION */
  
  .page-section {
    margin: 32px 24px 0px 32px;
    display: flex;
    justify-content: space-between;
  }


  .page-section__content {
    font-family: TT Lakes;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;

    max-width: 490px;
    min-width: 490px;
  }

  .page-section__content p[hidden] {
    display: block;
  }

  .page-section__content span {
    display: inline;
  }

  .page-section__button {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-weight: 500;
  
    display: flex;
    margin: 10px 0px 0px 8px;
    border: none;
    background-color: inherit;
    padding: 0;
  }

  .page-section__image {
    width: 532px;
    height: 307px;
    border-radius: 5px;
    background-image: url(Icons/page-section/image_logo_1120.png);
  }


  .page-section__text {
    margin-left: 16px;
  }


  




}